CompileFlags:
  CompilationDatabase: >-
    /media/tungchiahui/6A0A73946EE82411/UserFolder/XiaomiCloud/Work/Source/GitHub/SDUT_VinciRobot/0.Historical_ROBOCON/2023ROBOCON/ER/MDK-ARM/tmp/RTOS_GP_Helm_Wheel_Chassis/RTOSGPHelmWheelChassis
